<p>

    <% if results.has_key? "Error" %>

        <h3>Not found</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTSbr6dmsti5sLidgn-Nv0dgJXiMV2BjXrSpA&usqp=CAU" alt="">
        
        <% else %>

        <% results["Search"].each do |search| %>
                <h2><%= search["Title"] %></h2>
                <p><%= search["Year"] %></p>
                <a href="/movie?title=<%= search["Title"] %>"><img class="shadow" src="<%= search["Poster"] %>" alt=""></a>
        <% end %>

    <% end %>

</p>
